<!doctype html>
{% load static %} <html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>habiter</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
	<link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
	<link rel="stylesheet" href="{% static "css/owl.carousel.min.css" %}">
	<link rel="stylesheet" href="{% static "css/magnific-popup.css" %}">
	<link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}">
	<link rel="stylesheet" href="{% static "css/themify-icons.css" %}">
	<link rel="stylesheet" href="{% static "css/nice-select.css" %}">
	<link rel="stylesheet" href="{% static "css/flaticon.css" %}">
	<link rel="stylesheet" href="{% static "css/gijgo.css" %}">
	<link rel="stylesheet" href="{% static "css/animate.min.css" %}">
	<link rel="stylesheet" href="{% static "css/slick.css" %}">
	<link rel="stylesheet" href="{% static "css/slicknav.css" %}">
	<link rel="stylesheet" href="{% static "css/style.css" %}">
	<style>
	.hacky_img_shadow{
		box-shadow: #2e2e2e 1px 1px 40px;
		border-radius: 60px;
	}
	.white_link{
		color: white;
		font-weight: bold;
	}
	.amplitude_image{
		width:100%;border: grey;border-width: 3px;border-style: solid;margin: 10px;
	}
	input {
    line-height: 40px;
    border: none;
    outline: none;
    background: #e6e5fb;
    padding: 0 20px;
	}
	.input_wrapper{
		display: flex;
    justify-content: space-between;
    background: #f9f9ff;
    line-height: 40px;
    padding: 0px 0px 0px 20px;
		margin: 10px;
    box-shadow: #e6e6e6 0px 0px 10px;
	}

	form{
		text-align:center;
	}
	.admin_card{
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #e3e6f0;
    border-radius: .35rem;
	padding:5%;
		margin-top:30px;
	}
	.shadow{
		box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15)!important;
	}
	.modal-backdrop{
		z-index:0 !important;
	}
	</style>
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
	<script>
	</script>
</head>
<body>
	<section class="sample-text-area">
		<div class="container">
			<h1>Manage your {{admin_title}} community</h1>
			{% if error %}
			<div class="alert alert-danger" role="alert">
				{{error}}
			</div>
			{% endif %}
			{% if alert %}
			<div class="alert alert-success" role="alert">
				{{alert}}
			</div>
			{% endif %}

			<div class="admin_card shadow">
				<h2>{{ admin_title }} Community Content</h2>
				<p>Here you can find the content for your community that is send out every session by Habiter bots.</p>
				<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#view_content_modal">
					  View Content
				</button>
				<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#upload_content_modal">
					  Upload Content
				</button>
			</div>

			<div class="admin_card shadow">
				<h2>{{ admin_title }} Teams</h2>
				<p>insert team here, watchout for timezones (gmt,gmt+8,ist,est,pst)</p>
				<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#view_teams_modal">
					  View Teams List
				</button>
				<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#insert_team_modal">
					  Insert New Team
				</button>
				<button type="button" class="btn btn-success {% if teams.overall_capacity < 40 %}btn-warning{% endif %} {% if teams.overall_capacity < 20 %}btn-danger{% endif %}">
					Overall New-Users Capacity: {{ teams.overall_capacity }}
				</button>
			</div>

			<div class="admin_card shadow">
				<h2>{{ admin_title }} Users</h2>
				<p>insert team here, watchout for timezones (gmt,gmt+8,ist,est,pst)</p>
				<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#edit_bot_modal">
					Manage Bots Content
				</button>
				<button type="button" class="btn btn-primary" onclick="location.href = 'https://analytics.amplitude.com/habiter/dashboard/umgznt7'">
					Go to Amplitude dashboard
				</button>
				<div class="container" style="width: 120%;padding-top: 40px;" >
					<div class="row">
						<div class="col">
						<a href="https://analytics.amplitude.com/habiter/chart/d39c8rl">
							<img src="{% static 'amplitude/churning.png' %}" class="amplitude_image"/>
							<p>View Churning Users</p>
						</a>
						</div>
						<div class="col">
						<a href="https://analytics.amplitude.com/habiter/chart/yaitee4">
							<img src="{% static 'amplitude/users.png' %}" class="amplitude_image"/>
							<p>View Users Activity Breakdown</p>
						</a>
						</div>
						<div class="col">
						<a href="https://analytics.amplitude.com/habiter/chart/yzev0y5">
							<img src="{% static 'amplitude/dau.png' %}" class="amplitude_image"/>
							<p>View Daily Active Users</p>
						</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>



	<!--view content modal-->
	<div class="modal fade" id="view_content_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
		<div class="modal-dialog" role="document" style="max-width: 70%">
		<div class="modal-content">
		  <div class="modal-header">
			  <h5 class="modal-title" id="exampleModalLabel">{{ admin_title }} Community Content</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			  <span aria-hidden="true">&times;</span>
			</button>
		  </div>
			<div class="progress-table-wrap">
				<div class="progress-table">
					<div class="table-head">
						<div class="serial">#</div>
						<div class="country">Link</div>
						<div class="serial">Label</div>
						<div class="country">Teams on this index</div>
					</div>
					{% for content_item in community_content %}
					<div class="table-row">
						<div class="serial">{{ content_item.0 }}</div>
						<div class="country">{{ content_item.1 }}</div>
						<div class="serial">{{ content_item.2 }}</div>
						<div class="country">{{ content_item.3 }}</div>
					</div>
					{% endfor %}
				</div>
		  </div>
		</div>
		</div>
	</div>

	<!--view teams modal-->
	<div class="modal fade" id="view_teams_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
		<div class="modal-dialog" role="document" style="max-width: 70%">
		<div class="modal-content">

		  <div class="modal-header">
			  <h5 class="modal-title" id="exampleModalLabel">{{ admin_title }} Community Content</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			  <span aria-hidden="true">&times;</span>
			</button>
		  </div>

				  <!-- PST -->
				<div class="row p-5">
					<div class="col-4">
					<h3>PST</h3>
					</div>
					<div class="col-sm">
					<button class="btn btn-secondary">Total number of Teams: {{ teams.pst_capacity.total_teams_len }}</button>
					<button class="btn btn-secondary">Number of Open Teams: {{ teams.pst_capacity.open_teams_len }}</button>
					<button class="btn btn-primary">Open Capacity: {{ teams.pst_capacity.open_capacity }}</button>
					</div>
				</div>
				<div class="progress-table-wrap">
					<div class="progress-table">
						<div class="table-head">
							<div class="serial">#</div>
							<div class="serial">team_name</div>
							<div class="serial">sent</div>
							<div class="serial">claimed</div>
							<div class="serial">label</div>
							<div class="serial">link</div>
						</div>
						{% for team in teams.pst %}
						<div class="table-row">
							<div class="serial">{{ team.0 }}</div>
							<div class="serial">{{ team.1 }}</div>
							<div class="serial">{{ team.2 }}</div>
							<div class="serial">{{ team.3 }}</div>
							<div class="serial">{{ team.5 }}</div>
							<div class="serial">{{ team.4 }}</div>
						</div>
						{% endfor %}
					</div>
				</div>
				<br>

				  <!-- EST -->
				<div class="row p-5">
					<div class="col-4">
					<h3>EST</h3>
					</div>
					<div class="col-sm">
					<button class="btn btn-secondary">Total number of Teams: {{ teams.est_capacity.total_teams_len }}</button>
					<button class="btn btn-secondary">Number of Open Teams: {{ teams.est_capacity.open_teams_len }}</button>
					<button class="btn btn-primary">Open Capacity: {{ teams.est_capacity.open_capacity }}</button>
					</div>
				</div>
				<div class="progress-table-wrap">
					<div class="progress-table">
						<div class="table-head">
							<div class="serial">#</div>
							<div class="serial">team_name</div>
							<div class="serial">sent</div>
							<div class="serial">claimed</div>
							<div class="serial">label</div>
							<div class="serial">link</div>
						</div>
						{% for team in teams.est %}
						<div class="table-row">
							<div class="serial">{{ team.0 }}</div>
							<div class="serial">{{ team.1 }}</div>
							<div class="serial">{{ team.2 }}</div>
							<div class="serial">{{ team.3 }}</div>
							<div class="serial">{{ team.5 }}</div>
							<div class="serial">{{ team.4 }}</div>
						</div>
						{% endfor %}
					</div>
				</div>
				<br>

				  <!-- GMT -->
				<div class="row p-5">
					<div class="col-4">
					<h3>GMT</h3>
					</div>
					<div class="col-sm">
					<button class="btn btn-secondary">Total number of Teams: {{ teams.gmt_capacity.total_teams_len }}</button>
					<button class="btn btn-secondary">Number of Open Teams: {{ teams.gmt_capacity.open_teams_len }}</button>
					<button class="btn btn-primary">Open Capacity: {{ teams.gmt_capacity.open_capacity }}</button>
					</div>
				</div>
				<div class="progress-table-wrap">
					<div class="progress-table">
						<div class="table-head">
							<div class="serial">#</div>
							<div class="serial">team_name</div>
							<div class="serial">sent</div>
							<div class="serial">claimed</div>
							<div class="serial">label</div>
							<div class="serial">link</div>
						</div>
						{% for team in teams.gmt %}
						<div class="table-row">
							<div class="serial">{{ team.0 }}</div>
							<div class="serial">{{ team.1 }}</div>
							<div class="serial">{{ team.2 }}</div>
							<div class="serial">{{ team.3 }}</div>
							<div class="serial">{{ team.5 }}</div>
							<div class="serial">{{ team.4 }}</div>
						</div>
						{% endfor %}
					</div>
				</div>
				<br>

				  <!-- IST -->
				<div class="row p-5">
					<div class="col-4">
					<h3>IST</h3>
					</div>
					<div class="col-sm">
					<button class="btn btn-secondary">Total number of Teams: {{ teams.ist_capacity.total_teams_len }}</button>
					<button class="btn btn-secondary">Number of Open Teams: {{ teams.ist_capacity.open_teams_len }}</button>
					<button class="btn btn-primary">Open Capacity: {{ teams.ist_capacity.open_capacity }}</button>
					</div>
				</div>
				<div class="progress-table-wrap">
					<div class="progress-table">
						<div class="table-head">
							<div class="serial">#</div>
							<div class="serial">team_name</div>
							<div class="serial">sent</div>
							<div class="serial">claimed</div>
							<div class="serial">label</div>
							<div class="serial">link</div>
						</div>
						{% for team in teams.ist %}
						<div class="table-row">
							<div class="serial">{{ team.0 }}</div>
							<div class="serial">{{ team.1 }}</div>
							<div class="serial">{{ team.2 }}</div>
							<div class="serial">{{ team.3 }}</div>
							<div class="serial">{{ team.5 }}</div>
							<div class="serial">{{ team.4 }}</div>
						</div>
						{% endfor %}
					</div>
				</div>
				<br>

				  <!-- GMT+8 -->
				<div class="row p-5">
					<div class="col-4">
					<h3>GMT+8</h3>
					</div>
					<div class="col-sm">
					<button class="btn btn-secondary">Total number of Teams: {{ teams.gmt8_capacity.total_teams_len }}</button>
					<button class="btn btn-secondary">Number of Open Teams: {{ teams.gmt8_capacity.open_teams_len }}</button>
					<button class="btn btn-primary">Open Capacity: {{ teams.gmt8_capacity.open_capacity }}</button>
					</div>
				</div>
				<div class="progress-table-wrap">
					<div class="progress-table">
						<div class="table-head">
							<div class="serial">#</div>
							<div class="serial">team_name</div>
							<div class="serial">sent</div>
							<div class="serial">claimed</div>
							<div class="serial">label</div>
							<div class="serial">link</div>
						</div>
						{% for team in teams.gmt8 %}
						<div class="table-row">
							<div class="serial">{{ team.0 }}</div>
							<div class="serial">{{ team.1 }}</div>
							<div class="serial">{{ team.2 }}</div>
							<div class="serial">{{ team.3 }}</div>
							<div class="serial">{{ team.5 }}</div>
							<div class="serial">{{ team.4 }}</div>
						</div>
						{% endfor %}
					</div>
				</div>
				<br>

		</div>
		</div>
	</div>

	<!-- upload content model-->
	<div class="modal fade" id="upload_content_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
		<div class="modal-dialog" role="document" style="max-width: 70%">
		<div class="modal-content">
		  <div class="modal-header">
			  <h5 class="modal-title" id="exampleModalLabel">{{ admin_title }} Community Content</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			  <span aria-hidden="true">&times;</span>
			</button>
		  </div>
		  <div class="modal-body">
			<div class="row">
				<div class="col-sm">
				<p>You can input by hand a new content item</p>
					<form action="/leetcode_admin" method="POST">
						{% csrf_token %}
						<div class="input_wrapper">
							<label for="{{ input_content_form.link.id_for_label}}">Link:</label>
							{{input_content_form.link}}
						</div>
						<div class="input_wrapper">
							<label for="{{ input_content_form.label.id_for_label}}">Label:</label>
							{{input_content_form.label}}
						</div>
						<input type="submit" value="Submit">
					</form>
				</div>
				<div class="col-sm border-left" >
					<p>Upload by API coming soon</p>
				</div>
			</div>
		  </div>
		</div>
		</div>
	</div>

	<!-- insert team modal -->
	<div class="modal fade" id="insert_team_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
		<div class="modal-dialog" role="document" style="max-width: 70%">
			<div class="modal-content">
			  <div class="modal-header">
				  <h5 class="modal-title" id="exampleModalLabel">{{ admin_title }} Community Teams</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				  <span aria-hidden="true">&times;</span>
				</button>
			  </div>
			  <div class="modal-body">
				<div class="row">
					<div class="col-sm">
						<p>Add team checklist
						<ul>
							<li>put "https://habiter.app" if you want the team to enter the matching system</li>
							<li>session_time is set based on timezone as 21:00 GMT (e.g. 'est' put to 02:00)</li>
							<li>you need to run /next_session inside the chat, otherwise problems will not be sent</li>
						</p>
						<form action="{{ form_action }}" method="POST" >
							{% csrf_token %}
								<div class="input_wrapper">
									<label for="{{ team_form.team_name.id_for_label}}">Team Name:</label>
									{{team_form.team_name}}
								</div>
								<div class="input_wrapper">
									<label for="{{ team_form.team_invite.id_for_label}}">Team Invite:</label>
									{{team_form.team_invite}}
								</div>
								<div class="input_wrapper">
									<label for="{{ team_form.timezone.id_for_label}}">Timezone:</label>
									{{team_form.timezone}}
								</div>
								<div class="input_wrapper">
									<label for="{{ team_form.label.id_for_label}}">Label:</label>
									{{team_form.label}}
								</div>
							<input type="submit" value="Submit">
						</form>
					</div>
					<div class="col-sm border-left" >
						<p>Automatic group creation by API coming soon</p>
					</div>
				</div>
			</div>
			</div>
		</div>
	</div>

	<!-- edit bot modal -->
	<div class="modal fade" id="edit_bot_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
		<div class="modal-dialog" role="document" style="max-width: 70%">
			<div class="modal-content">
			  <div class="modal-header">
				  <h5 class="modal-title" id="exampleModalLabel">{{ admin_title }} Bot </h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				  <span aria-hidden="true">&times;</span>
				</button>
			  </div>
			  <div class="modal-body">
				<div class="row">
					<div class="col-sm">
						<form action="{{ form_action }}" method="POST" >
							{% csrf_token %}
								<div class="input_wrapper">
									<label for="{{ bot_form.content_id.id_for_label}}">ID:</label>
									{{bot_form.content_id}}
								</div>
								<div class="input_wrapper">
									<label for="{{ bot_form.new_content.id_for_label}}">New Content:</label>
									{{bot_form.new_content}}
								</div>
							<input type="submit" value="Submit">
						</form>
					</div>
					<div class="col-sm border-left" >
						<div class="progress-table-wrap">
							<div class="progress-table">
								<div class="table-head">
									<div class="serial">#</div>
									<div class="country">Description</div>
									<div class="country">Content</div>
								</div>
								{% for content_item in bot_content %}
								<div class="table-row">
									<div class="serial">{{ content_item.0 }}</div>
									<div class="country">{{ content_item.1 }}</div>
									<div class="country">{{ content_item.2 }}</div>
								</div>
								{% endfor %}
							</div>
					  </div>
					</div>
				</div>
			</div>
			</div>
		</div>
	</div>

    <!-- JS here -->
	<script src="{% static "js/vendor/modernizr-3.5.0.min.js" %}"></script>
	<script src="{% static "js/vendor/jquery-1.12.4.min.js" %}"></script>
	<script src="{% static "js/popper.min.js" %}"></script>
	<script src="{% static "js/bootstrap.min.js" %}"></script>
	<script src="{% static "js/owl.carousel.min.js" %}"></script>
	<script src="{% static "js/isotope.pkgd.min.js" %}"></script>
	<script src="{% static "js/ajax-form.js" %}"></script>
	<script src="{% static "js/waypoints.min.js" %}"></script>
	<script src="{% static "js/jquery.counterup.min.js" %}"></script>
	<script src="{% static "js/imagesloaded.pkgd.min.js" %}"></script>
	<script src="{% static "js/scrollIt.js" %}"></script>
	<script src="{% static "js/jquery.scrollUp.min.js" %}"></script>
	<script src="{% static "js/wow.min.js" %}"></script>
	<script src="{% static "js/nice-select.min.js" %}"></script>
	<script src="{% static "js/jquery.slicknav.min.js" %}"></script>
	<script src="{% static "js/jquery.magnific-popup.min.js" %}"></script>
	<script src="{% static "js/plugins.js" %}"></script>
	<script src="{% static "js/gijgo.min.js" %}"></script>

    <!--contact js-->
	<script src="{% static "js/contact.js" %}"></script>
	<script src="{% static "js/jquery.ajaxchimp.min.js" %}"></script>
	<script src="{% static "js/jquery.form.js" %}"></script>
	<script src="{% static "js/jquery.validate.min.js" %}"></script>
	<script src="{% static "js/mail-script.js" %}"></script>

	<script src="{% static "js/main.js" %}"></script>
</body>

</html>
