<!doctype html>
{% load static %}
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>habiter</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
	<link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
	<link rel="stylesheet" href="{% static "css/owl.carousel.min.css" %}">
	<link rel="stylesheet" href="{% static "css/magnific-popup.css" %}">
	<link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}">
	<link rel="stylesheet" href="{% static "css/themify-icons.css" %}">
	<link rel="stylesheet" href="{% static "css/nice-select.css" %}">
	<link rel="stylesheet" href="{% static "css/flaticon.css" %}">
	<link rel="stylesheet" href="{% static "css/gijgo.css" %}">
	<link rel="stylesheet" href="{% static "css/animate.min.css" %}">
	<link rel="stylesheet" href="{% static "css/slick.css" %}">
	<link rel="stylesheet" href="{% static "css/slicknav.css" %}">
	<link rel="stylesheet" href="{% static "css/style.css" %}">
	<style>
	.hacky_img_shadow{
		box-shadow: #2e2e2e 1px 1px 40px;
		border-radius: 60px;
	}
	.white_link{
		color: white;
		font-weight: bold;
	}
	.blue_link{
		color: blue;
		text-decoration: underline;
	}
	.button-container{
		margin:20px
	}
	</style>
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
	<script>
  !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","debug","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t,e){var n=document.createElement("script");n.type="text/javascript";n.async=!0;n.src="https://cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(n,a);analytics._loadOptions=e};analytics.SNIPPET_VERSION="4.1.0";
  analytics.load("NFj8y6xu7WHhL2eNjQCHhXSXpSCQY9h9");
  analytics.page();
  }}();

function openApp(){
  document.location = 'habiter://';
	analytics.track("OpenAppButton", {
	  description: "from Download in the navigator"
	});
  setTimeout(function(){
      document.location = 'https://play.google.com/store/apps/details?id=com.habiter.habiter';
  }, 300);
}

function buildersTelegramGroup(group){
	analytics.track("BuildersTelegram_JoinTeamRequest", {
	  description: "JoinTeamRequest",
	  group: group
	});

	$.ajax({
        url: '/ajax/leetcode_match/',
        data: {
          'timezone': group
        },
        dataType: 'json',
        success: function (data) {
			analytics.track("BuildersTelegram_JoinTeamRequestDialogue", {
			  description: "JoinTeamRequest",
			  group: group,
			  team_id: data.team_id,
			  team_name: data.team_name
			});
			console.log(data)
			const team_id = data.team_id
			if (confirm("We found an available team in "+group+" timezone: "+data.team_name+". Do you want to join it?")){
				// sending event confirmation back to server
				console.log(team_id);
				$.ajax({
					url: '/ajax/leetcode_invite_sent_confirmation',
					data: {
						'team_id': team_id
					},
					dataType: 'json',
					success: function(data) {
						analytics.track("BuildersTelegram_JoinTeamRequestConfirmed", {
						  description: "JoinTeamRequest",
						  team_id: data.team_id,
						  team_name: data.team_name,
						  group: group
						});
						console.log("Event joined confirmed");
					}
				});
				// opening invite
				document.location = data.team_invite_link;
			}
        }
    });

	/*
	switch(group){
		case "general":
			document.location = "https://t.me/leetcode_feb_2019";
			break;
		case "gmt":
			document.location = "https://t.me/leetcode_gmt";
			break;
		case "est":
			document.location = "https://t.me/leetcode_est";
			break;
		case "ist":
			document.location = "https://t.me/leetcode_ist";
			break;
		case "cst":
			document.location = "https://t.me/leetcode_cst";
			break;
		case "pst":
			document.location = "https://t.me/leetcode_pst";
			break;
	}
	*/
}

function alexLinkedin(){
	analytics.track("AlexLinkedin", {
	  description: "from /builders.html"
	});
	document.location = "https://www.linkedin.com/in/solbiatialessandro/";
}
function oanaLinkedin(){
	analytics.track("OanaLinkedin", {
	  description: "from /builders.html"
	});
	document.location = "https://www.linkedin.com/in/oana-florescu-97996716a/";
}
function oanaVideo(){
	analytics.track("OanaVideo", {
	  description: "from /builders.html"
	});
	document.location = "https://www.youtube.com/watch?v=S7vU513Eiw0";
}

analytics.track("builders", {
  description: "generic user opening builders"
});

	</script>
</head>

<body>
	<!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    <!-- header-start -->
    <header>
        <div class="header-area ">
            <div id="sticky-header" class="main-header-area">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-xl-3 col-lg-2">
                            <div class="logo">
                                <a href="index.html">
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-7"> <div class="main-menu  d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
										<li>
											<a style="color:grey" href="/">Habiter</a>
										</li>
										<li>
											<a style="color:grey" href="/about">Our vision</a>
										</li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 d-none d-lg-block">
                            <div class="Appointment">
                                <div class="book_btn d-none d-lg-block">
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </header>

    <!-- bradcam_area  -->
	<section class="sample-text-area" style="background-color:#F6F6F6">
		<div class="container box_1170">
            <div class="row">
                <div class="col-xl-12">
                    <div >
                        <h2>March 2020 Builders Study Group</h2>
						<p style="text-transform:none"> Are you serious about preparing for your next  interview? Stay consistent with your practice and make the process more fun by joining other engineers preparing to land their next job.</p>
						<div class='button-container'>
							<a 
								href="#" onclick="leetcodeTelegramGroup('gmt')"
								class="genric-btn info circle e-large"
								>Join Team GMT (London)
							</a>
							<a 
								href="#" onclick="leetcodeTelegramGroup('pst')"
								class="genric-btn info circle e-large"
								>Join Team PST (California)
							</a>
							<a 
								href="#" onclick="leetcodeTelegramGroup('ist')"
								class="genric-btn info circle e-large"
								>Join Team IST (Hyderabad)
							</a>
						</div>
						<div class='button-container'>
							<a 
								href="#" onclick="leetcodeTelegramGroup('est')"
								class="genric-btn info circle e-large"
								>Join Team EST (New York)
							</a>
							<a 
								href="#" onclick="leetcodeTelegramGroup('gmt+8')"
								class="genric-btn info circle e-large"
								>Join Team GMT+8 (China)
							</a>
						</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /bradcam_area  -->
	<!-- Start Sample Area -->
	<section class="sample-text-area">
		<div class="container box_1170">
			<h3 class="text-heading">Group Rules</h3>
			<p class="sample-text">
			We are a group of people serious about interview preparation, this group is about doing Builders together (100% free).
			<ul>
				<li>1. You are added to a team of 2/3 people</li>
				<li>2. We run a daily practice at 9 PM</li>
				<li>3. There are 2 problems proposed. You solve one problem, you post a screenshot with the solution. </li>
				<li>4. At the end, you briefly explain you solution. </li>
				<li>If not active for more then 2 days (no message sent), you are removed from the group. </li>
			</ul>
			</p>
		</div>
	</section>
	<!-- End Sample Area -->

	<section class="sample-text-area">
		<div class="container box_1170">
			<h3 class="text-heading">Leaderboard -  Top 10 Teams Worldwide</h3>
			<p class="sample-text">
			<div class="progress-table-wrap">
				<div class="progress-table">
					<div class="table-head">
						<div class="serial">Time Zone</div>
						<div class="serial">Team Name</div>
						<div class='visit'>Strike</div>
						<div class="country">Problem solved</div>
						<div class="visit">Participants</div>
					</div>
					<div class="table-row">
						<div class="serial">GMT+8</div>
						<div class="serial">Leetcode Team 101</div>
						<div class='visit'>7</div>
						<div class='country'>52</div>
						<div class="visit">Duy, Tuan, Oscar</div>
					</div>
					<div class="table-row">
						<div class="serial">PST</div>
						<div class="serial">Leetcode Practice 84</div>
						<div class='visit'>5</div>
						<div class='country'>45</div>
						<div class="visit">Aroop, Sam, A</div>
					</div>
					<div class="table-row">
						<div class="serial">PST</div>
						<div class="serial">Leetcode Team 62</div>
						<div class='visit'>4</div>
						<div class='country'>34</div>
						<div class="visit">A R, Lorem Ipsum, Jim</div>
					</div>
					<div class="table-row">
						<div class="serial">EST</div>
						<div class="serial">Leetcode Team 1</div>
						<div class='visit'>4</div>
						<div class='country'>33</div>
						<div class="visit">Grr, Ben, Abhishek</div>
					</div>
					<div class="table-row">
						<div class="serial">EST</div>
						<div class="serial">Leetcode Team 3</div>
						<div class='visit'>3</div>
						<div class='country'>32</div>
						<div class="visit">Peter, Anil</div>
					</div>
					<div class="table-row">
						<div class="serial">IST</div>
						<div class="serial">Leetcode Team 123</div>
						<div class='visit'>3</div>
						<div class='country'>32</div>
						<div class="visit">Raghav, Saiprasad, Prabodth</div>
					</div>
					<div class="table-row">
						<div class="serial">GMT+8</div>
						<div class="serial">Leetcode Team 100</div>
						<div class='visit'>3</div>
						<div class='country'>24</div>
						<div class="visit">n y, aziyat</div>
					</div>
					<div class="table-row">
						<div class="serial">PST</div>
						<div class="serial">Leetcode Team 4</div>
						<div class='visit'>2</div>
						<div class='country'>10</div>
						<div class="visit">Ajay, Prada</div>
					</div>
					<div class="table-row">
						<div class="serial">GMT</div>
						<div class="serial">Leetcode Team 178</div>
						<div class='visit'>0</div>
						<div class='country'>0</div>
						<div class="visit">Raghav, Navneet, Abdelfattah</div>
					</div>
				</div>
			</div>
			</p>
		</div>
	</section>


	<!-- Start Align Area -->
	<div class="whole-wrap">
		<div class="container box_1170">
			<div class="section-top-border">
				<h3 class="mb-30">Group Organisers</h3>
				<div class="row">
					<div class="col-md-3">
						<img style="border-radius:50%;" src="{% static "img/oana.jpeg" %}" alt="" class="img-fluid">
					</div>
					<div class="col-md-3">
						<img style="border-radius:50%;" src="{% static "img/alex.jpeg" %}" alt="" class="img-fluid">
					</div>
					<div class="col-md-6">
						<p>We are Oana <a class="blue_link" onclick="oanaLinkedin()" href="#">(ex Facebook intern)</a> and Alex <a class="blue_link" onclick="alexLinkedin()" href="#">(Facebook Software Engineer)</a>. We are passionate about interview preparation , and we help people with their tech interviews (see <a class="blue_link" onclick="oanaVideo()" href="#">Oana video on her YouTube channel</a>). We also run offline and online study group to validate our hypotesis that having an accountability partner can improve substantially your interview preparation, we do it online with Telegram/Slack/Discord groups, and offline at Meetups in London.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Align Area -->
    <!-- footer start -->
    <footer class="footer">
        <div class="footer_top">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-md-6 col-lg-4">
                        <div class="footer_widget">
                            <div class="footer_logo">
                                <a href="#">
									<img src="{% static "habiter.png" %}" alt="">
                                </a>
                            </div>
                            <p>
							Habiter is built with 💛 by <a class="white_link" href="http://www.lessand.ro">Alessandro</a> and <a class="white_link" href="https://www.youtube.com/watch?v=S7vU513Eiw0&t">Oana.</a></p>
                                
                            </p>

                        </div>
                    </div>
                    <!--
                    <div class="col-xl-2 col-md-6 col-lg-2">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                    Useful Links
                            </h3>
                            <ul>
                                <li><a href="#">Pricing</a></li>
                                <li><a href="#">Features</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-lg-3">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                    Downloads
                            </h3>
                            <ul>
                                <li>
                                    <a href="#">
                                        Download from Apple Store

                                    </a>
                                </li>
                                <li><a href="#">
                                        Download from Play Store
                                    </a>
                                </li>
                                </ul>
                        </div>
                    </div>
                -->
                </div>
            </div>
        </div>
        <div class="copy-right_text">
            <div class="container">
                <div class="footer_border"></div>
                <div class="row">
                    <div class="col-xl-12">
                        <p class="copy_right text-center">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--/ footer end  -->

	<script src="{% static "js/vendor/modernizr-3.5.0.min.js" %}"></script>
	<script src="{% static "js/vendor/jquery-1.12.4.min.js" %}"></script>
	<script src="{% static "js/popper.min.js" %}"></script>
	<script src="{% static "js/bootstrap.min.js" %}"></script>
	<script src="{% static "js/owl.carousel.min.js" %}"></script>
	<script src="{% static "js/isotope.pkgd.min.js" %}"></script>
	<script src="{% static "js/ajax-form.js" %}"></script>
	<script src="{% static "js/waypoints.min.js" %}"></script>
	<script src="{% static "js/jquery.counterup.min.js" %}"></script>
	<script src="{% static "js/imagesloaded.pkgd.min.js" %}"></script>
	<script src="{% static "js/scrollIt.js" %}"></script>
	<script src="{% static "js/jquery.scrollUp.min.js" %}"></script>
	<script src="{% static "js/wow.min.js" %}"></script>
	<script src="{% static "js/nice-select.min.js" %}"></script>
	<script src="{% static "js/jquery.slicknav.min.js" %}"></script>
	<script src="{% static "js/jquery.magnific-popup.min.js" %}"></script>
	<script src="{% static "js/plugins.js" %}"></script>
	<script src="{% static "js/gijgo.min.js" %}"></script>

    <!--contact js-->
	<script src="{% static "js/contact.js" %}"></script>
	<script src="{% static "js/jquery.ajaxchimp.min.js" %}"></script>
	<script src="{% static "js/jquery.form.js" %}"></script>
	<script src="{% static "js/jquery.validate.min.js" %}"></script>
	<script src="{% static "js/mail-script.js" %}"></script>

	<script src="{% static "js/main.js" %}"></script>

    <script>
        $('#datepicker').datepicker({
            iconsLibrary: 'fontawesome',
            icons: {
             rightIcon: '<span class="fa fa-caret-down"></span>'
         }
        });
        $('#datepicker2').datepicker({
            iconsLibrary: 'fontawesome',
            icons: {
             rightIcon: '<span class="fa fa-caret-down"></span>'
         }

        });
    </script>
</body>
</html>
