<!doctype html>
{% load static %}
<html>
<head>
	<title>Habiter invite</title>
	<script>
function openApp(){
  document.location = 'exp://expo.io/@solbiatialessandro/Habiter';
  setTimeout(function(){
    if(confirm('To try out the app you need to have Expo Client app installed')){
      document.location = 'https://expo.io/tools#client';
    }
  }, 300);
}

function openAppShare(eventID){
  console.log("openAppShare");
  console.log(eventID);
  const redirectURL = `exp://expo.io/@solbiatialessandro/Habiter/--/main/appointment/${eventID}`;
  console.log(redirectURL);
  document.location = redirectURL;
  setTimeout(function(){
    if(confirm('To try out the app you need to have Expo Client app installed')){
      document.location = 'https://expo.io/tools#client';
    }
  }, 300);
}
	</script>
</head>
<body>
	<div style="padding:50px;text-align:center;background-color:#dfe4fb">
		<img src="{% static "habiter.png" %}"/>
		<div style="margin:auto;border-radius:9px;width:20%;padding:20px;background-color:#8999e8">
			<a style="font-size:40px;color:white;text-decoration:none;" href="#" onclick="openAppShare('{{inviteID}}')">Join event</a>
		</div>
		<div style="padding-top:40px">
			<a href="/"> Tell me more about Habiter </a>
		</div>
	</div>
	<div>{{inviteID}}</div>
</body>
</html>
