{% extends "base.html" %}
{% block title %}Your Community Content {% endblock %}
{% block content %}
        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
		  <div class="d-flex justify-content-between">
			  <div>
				  <h1 class="h3 mb-2 text-gray-800">{{community}} Content</h1>
				  <p class="mb-4">Here is the content from your community {{community}}, you can view the <b>Accountability Session Material</b> and also <b>HabiterBot content</b>.</p>
			  </div>
			  <div>
				  <button href="#" class="btn btn-primary btn-icon-split btn-lg" data-toggle="modal" data-target="#upload_content_modal">
					<span class="icon text-white-50">
					  <i class="fas fa-plus"></i>
					</span>
					<span class="text">Upload Content</span>
				  </button>
			  </div>
		  </div>

			{% if error %}
			<div class="alert alert-danger" role="alert">
				{{error}}
			</div>
			{% endif %}
			{% if alert %}
			<div class="alert alert-success" role="alert">
				{{alert}}
			</div>
			{% endif %}

          <!-- DataTales -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Accountability Sessions Material</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Link</th>
                      <th>Label</th>
                      <th>Teams on this index</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>#</th>
                      <th>Link</th>
                      <th>Label</th>
                      <th>Teams on this index</th>
                    </tr>
                  </tfoot>
                  <tbody>
					{% for content_item in community_content %}
					<tr>
						<td>{{ content_item.0 }}</td>
						<td>{{ content_item.1 }}</td>
						<td>{{ content_item.2 }}</td>
						<td>{{ content_item.3 }}</td>
					</tr>
					{% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <!-- /DataTales -->

          <!-- DataTales -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">HabiterBot content</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Description</th>
                      <th>Content</th>
                    </tr>
                  </thead>
                  <tbody>
					{% for content_item in bot_content %}
					<tr>
						<td>{{ content_item.0 }}</td>
						<td>{{ content_item.1 }}</td>
						<td>{{ content_item.2 }}</td>
					</tr>
					{% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <!-- /DataTales -->

        </div>
        <!-- /.container-fluid -->


<!-- upload content model-->
<div class="modal fade" id="upload_content_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
	<div class="modal-dialog" role="document" style="max-width: 70%">
	<div class="modal-content">
	  <div class="modal-header">
		  <h5 class="modal-title" id="exampleModalLabel">{{ admin_title }} Community Content</h5>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		  <span aria-hidden="true">&times;</span>
		</button>
	  </div>
	  <div class="modal-body">
		<div class="row">
			<div class="col-sm">
			<p>You can input by hand a new content item</p>
				<form action="/community/content" method="POST">
					{% csrf_token %}
					<div class="form-group">
						<label for="{{ input_content_form.link.id_for_label}}">Link:</label>
						{{input_content_form.link}}
					</div>
					<div class="form-group">
						<label for="{{ input_content_form.label.id_for_label}}">Label:</label>
						{{input_content_form.label}}
					</div>
					<input class="btn btn-primary" type="submit" value="Submit">
				</form>
			</div>
			<div class="col-sm border-left" >
				<p>Edit Bots Content</p>
				<form action="/community/content" method="POST">
					{% csrf_token %}
					<div class="form-group">
						<label for="{{ edit_bot_form.description.id_for_label}}">Description ID:</label>
						{{edit_bot_form.description}}
					</div>
					<div class="form-group">
						<label for="{{ edit_bot_form.content.id_for_label}}">New Content:</label>
						{{edit_bot_form.content}}
					</div>
					<input class="btn btn-primary" type="submit" value="Submit">
				</form>
			</div>
		</div>
	  </div>
	</div>
	</div>
</div>
{% endblock %}
