{% extends "base.html" %}
{% block title %}Your Community Content {% endblock %}
{% block content %}

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
		  <div class="row d-flex justify-content-between">
			  <div class="col-sm-5">
			  <div class="card shadow">
				  <div class="card-header">
				  <h1 class="h3 mb-2 text-gray-800">Teams Capacity</h1>
				  </div>
				  <div class="card-body">
					  <p class="mb-4">Here are the teams from your community. You can see their capacity: how many user they can hold (MAX_TEAM_SIZE for this community is <b>{{team_size}} users per team</b>).</p>
					  <p><b>Total Capacity</b> is the total number of open position in new and old teams</p>
					  <p><b>Timezone Capacity</b> is the total number of open position in new teams (content index less than 10) for that timezone. NOTE: we don't support labels.</p>
				  <button href="#" class="btn btn-primary btn-icon-split " data-toggle="modal" data-target="#upload_content_modal">
					<span class="icon text-white-50">
					  <i class="fas fa-plus"></i>
					</span>
					<span class="text">Add Team</span>
				  </button>
				  </div>
			  </div>
			  </div>
			  <div class="col-sm-5">
				  {% include "./health_card.html" with capacity=capacity.overall %}
			  </div>
		  </div>

		  <div class="row pt-5 pb-5">
			  <div class="col">
				  {% include "./health_card.html" with capacity=capacity.pst %}
			  </div>
			  <div class="col">
				  {% include "./health_card.html" with capacity=capacity.est %}
			  </div>
			  <div class="col">
				  {% include "./health_card.html" with capacity=capacity.gmt %}
			  </div>
			  <div class="col">
				  {% include "./health_card.html" with capacity=capacity.ist %}
			  </div>
			  <div class="col">
				  {% include "./health_card.html" with capacity=capacity.gmt8 %}
			  </div>
		  </div>

			{% if error %}
			<div class="alert alert-danger" role="alert">
				{{error}}
			</div>
			{% endif %}
			{% if alert %}
			<div class="alert alert-success" role="alert">
				{{alert}}
			</div>
			{% endif %}
		<div class="row">
			<div class="col">
			  <div class="card shadow">
				  <div class="card-header">
				  <h1 class="h3 mb-2 text-gray-800">Teams Activity</h1>
				  </div>
				  <div class="card-body">
				  <p class="mb-4">Here are activity metrics for your team:
				  <ul>
					  <li><b>Users Count</b>: number of user who sent at least one message in the team</li>
					  <li><b>Message Count</b>: total number of messages ssent in the team</li>
				  </ul>
				  Churning teams are <b>highlighted in yellow</b>, they are definied as teams with only one users and more than two messages sent.</p>
				  <!--
				  <button href="#" class="btn btn-primary btn-icon-split " data-toggle="modal" data-target="#upload_content_modal">
					<span class="icon text-white-50">
					  <i class="fas fa-plus"></i>
					</span>
					<span class="text">Add Team</span>
				  </button>-->
				  </div>
			  </div>
			</div>
			<div class="col-3">
			  <div class="card border-left-warning shadow mb-4">
				  <div class="card-body">
					  <div class="text-xs text-uppercase mb-1">Number of Churning Teams</div>
					  <div id="total_churning" class="h5 font-weight-bold">?</div>
					  <div class="progress progress-sm mr-2">
						  <div id="total_churning_bar" class="progress-bar bg-warning" role="progressbar" style="width: 10%" ></div>
					  </div>
				  </div>
			  </div>
			</div>
			<div class="col-3">
			  <div class="card border-left-success shadow mb-4">
				  <div class="card-body">
					  <div class="text-xs text-uppercase mb-1">Total Number of Teams</div>
					  <div id="total_teams" class="h5 font-weight-bold">?</div>
					  <div class="text-xs mb-1">This is the number of teams with at least one user message.</div>
				  </div>
			  </div>
			</div>
			<div class="col-3">
			</div>
		</div>

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Existing Teams</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="teamsDataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Active</th>
                      <th>Team Name</th>
                      <th>Users Count</th>
                      <th>Message Count</th>
                      <th>Last Activity</th>
                      <th>Label</th>
					  <th>Content Index</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>#</th>
                      <th>Active</th>
                      <th>Team Name</th>
                      <th>Users Count</th>
                      <th>Message Count</th>
                      <th>Last Activity</th>
                      <th>Label</th>
					  <th>Content Index</th>
                    </tr>
                  </tfoot>
                  <tbody>
					{% for team in teams %}
					<tr>
						<td>{{ team.0 }}</td>
						<td>{{ team.1 }}</td>
						<td>{{ team.2 }}</td>
						<td>{{ team.3 }}</td>
						<td>{{ team.4 }}</td>
						<td>{{ team.5 }}</td>
						<td>{{ team.6 }}</td>
						<td>{{ team.7 }}</td>
					</tr>
					{% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->


<!-- upload content model-->
<div class="modal fade" id="upload_content_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
	<div class="modal-dialog" role="document" style="max-width: 70%">
	<div class="modal-content">
	  <div class="modal-header">
		  <h5 class="modal-title" id="exampleModalLabel">{{ admin_title }} Community Content</h5>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		  <span aria-hidden="true">&times;</span>
		</button>
	  </div>
	  <div class="modal-body">
		<div class="row">
			<div class="col-sm">
				<h3>Create Team Manually</h3>
					<p>Add team checklist
					<ul>
						<li>put "https://habiter.app" if you want the team to enter the matching system</li>
						<li>session_time is set based on timezone as 21:00 GMT (e.g. 'est' put to 02:00)</li>
						<li>you need to run /next_session inside the chat, otherwise problems will not be sent</li>
					</p>
					<form action="community/teams" method="POST" >
						{% csrf_token %}
							<div class="input_wrapper">
								<label for="{{ team_form.team_name.id_for_label}}">Team Name:</label>
								{{team_form.team_name}}
							</div>
							<div class="input_wrapper">
								<label for="{{ team_form.team_invite.id_for_label}}">Team Invite:</label>
								{{team_form.team_invite}}
							</div>
							<div class="input_wrapper">
								<label for="{{ team_form.timezone.id_for_label}}">Timezone:</label>
								{{team_form.timezone}}
							</div>
							<div class="input_wrapper">
								<label for="{{ team_form.label.id_for_label}}">Label:</label>
								{{team_form.label}}
							</div>
						<input class="btn btn-primary" type="submit" value="Submit">
					</form>
			</div>
			<div class="col-sm border-left" >
				<h3>Create Teams Automatically</h3>
				<p>Create a team by hand, add Habiter bot and make it admin. Afterward just call /start_team. </p>
			</div>
		</div>
	  </div>
	</div>
	</div>
</div>
	<script>
	//
// CHURNING TEAMS
// Call the dataTables jQuery plugin
  // HIGHLIGHT FOR USERS
  const TABLE_COLUMN_MAPPING = {
	'team_id':0,
	'active':1,
	'team_name':2,
	'number_of_users':3,
	'total_messages':4,
	'last_activity':5,
	'label':6,
	'content_index':7
  }
  let total_churning = 0;
  let total_teams = 0;
  function is_team_churning(data){
	  return data[TABLE_COLUMN_MAPPING['number_of_users']] < 2 && data[TABLE_COLUMN_MAPPING['total_messages']] >= 3;
  }
  $('#teamsDataTable').DataTable({
	  "createdRow": function( row, data, dataIndex){
				total_teams += 1;
			if( is_team_churning(data) ){
				$(row).addClass('bg-warning');
				total_churning += 1;
			}
		  //#ffd7d7
		}
  });
  $("#total_churning").html(total_churning);
  $("#total_teams").html(total_teams);
  $("#total_churning_bar").css('width',((total_churning/total_teams)*100).toString()+"%")
	</script>
{% endblock %}
