{% extends "base.html" %}
{% block title %}Your Community Content {% endblock %}
{% block content %}

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
		  <div class="row d-flex justify-content-between">
			  <div class="col-sm-5">
			  <div class="card shadow">
				  <div class="card-header">
				  <h1 class="h3 mb-2 text-gray-800">Teams</h1>
				  </div>
				  <div class="card-body">
				  <p class="mb-4">Here are the teams from your community. You can see their capacity, e.g. how many user they can hold (with 3 users per team).</p>
				  <button href="#" class="btn btn-primary btn-icon-split " data-toggle="modal" data-target="#upload_content_modal">
					<span class="icon text-white-50">
					  <i class="fas fa-plus"></i>
					</span>
					<span class="text">Add Team</span>
				  </button>
				  </div>
			  </div>
			  </div>
			  <div class="col-sm-5">
				  {% include "./health_card.html" with capacity=capacity.overall %}
			  </div>
		  </div>

		  <div class="row pt-5 pb-5">
			  <div class="col">
				  {% include "./health_card.html" with capacity=capacity.pst %}
			  </div>
			  <div class="col">
				  {% include "./health_card.html" with capacity=capacity.est %}
			  </div>
			  <div class="col">
				  {% include "./health_card.html" with capacity=capacity.gmt %}
			  </div>
			  <div class="col">
				  {% include "./health_card.html" with capacity=capacity.ist %}
			  </div>
			  <div class="col">
				  {% include "./health_card.html" with capacity=capacity.gmt8 %}
			  </div>
		  </div>

			{% if error %}
			<div class="alert alert-danger" role="alert">
				{{error}}
			</div>
			{% endif %}
			{% if alert %}
			<div class="alert alert-success" role="alert">
				{{alert}}
			</div>
			{% endif %}

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Existing Teams</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Team Name</th>
                      <th>Users</th>
                      <th>Invite Link</th>
                      <th>Label</th>
                      <th>Timezone</th>
                      <th>Session Time</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>#</th>
                      <th>Team Name</th>
                      <th>Users</th>
                      <th>Invite Link</th>
                      <th>Label</th>
                      <th>Timezone</th>
                      <th>Session Time</th>
                    </tr>
                  </tfoot>
                  <tbody>
					{% for team in teams %}
					<tr>
						<td>{{ team.0 }}</td>
						<td>{{ team.1 }}</td>
						<td>{{ team.3 }}</td>
						<td>{{ team.4 }}</td>
						<td>{{ team.5 }}</td>
						<td>{{ team.6 }}</td>
						<td>{{ team.7 }}</td>
					</tr>
					{% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->


<!-- upload content model-->
<div class="modal fade" id="upload_content_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
	<div class="modal-dialog" role="document" style="max-width: 70%">
	<div class="modal-content">
	  <div class="modal-header">
		  <h5 class="modal-title" id="exampleModalLabel">{{ admin_title }} Community Content</h5>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		  <span aria-hidden="true">&times;</span>
		</button>
	  </div>
	  <div class="modal-body">
		<div class="row">
			<div class="col-sm">
				<h3>Create Team Manually</h3>
					<p>Add team checklist
					<ul>
						<li>put "https://habiter.app" if you want the team to enter the matching system</li>
						<li>session_time is set based on timezone as 21:00 GMT (e.g. 'est' put to 02:00)</li>
						<li>you need to run /next_session inside the chat, otherwise problems will not be sent</li>
					</p>
					<form action="community/teams" method="POST" >
						{% csrf_token %}
							<div class="input_wrapper">
								<label for="{{ team_form.team_name.id_for_label}}">Team Name:</label>
								{{team_form.team_name}}
							</div>
							<div class="input_wrapper">
								<label for="{{ team_form.team_invite.id_for_label}}">Team Invite:</label>
								{{team_form.team_invite}}
							</div>
							<div class="input_wrapper">
								<label for="{{ team_form.timezone.id_for_label}}">Timezone:</label>
								{{team_form.timezone}}
							</div>
							<div class="input_wrapper">
								<label for="{{ team_form.label.id_for_label}}">Label:</label>
								{{team_form.label}}
							</div>
						<input class="btn btn-primary" type="submit" value="Submit">
					</form>
			</div>
			<div class="col-sm border-left" >
				<h3>Create Teams Automatically</h3>
				<p>Create a team by hand, add Habiter bot and make it admin. Afterward just call /start_team. </p>
			</div>
		</div>
	  </div>
	</div>
	</div>
</div>
{% endblock %}
