{% extends "base.html" %}
{% block title %}Your Community Content {% endblock %}
{% block content %}

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
		  <div class="d-flex justify-content-between">
			  <div>
				  <div class="row"> 
					  <div class="col">
						  <h1 class="h3 mb-2 text-gray-800">Users</h1>
					  </div>
					  <div class="col">
							<a class="btn btn-primary" href="/backfill/users" role="button">Refresh Data</a>
					  </div>
				  </div>
				  <p class="mb-4">Here is the users from your community.</p>
			  </div>
		  </div>

			{% if error %}
			<div class="alert alert-danger" role="alert">
				{{error}}
			</div>
			{% endif %}
			{% if alert %}
			<div class="alert alert-success" role="alert">
				{{alert}}
			</div>
			{% endif %}

		<div class="row">
			<div class="col-3">
			  <div class="card border-left-warning shadow mb-4">
				  <div class="card-body">
					  <div class="text-xs text-uppercase mb-1">Number of Churning Users</div>
					  <div id="total_churning" class="h5 font-weight-bold">?</div>
					  <div class="progress progress-sm mr-2">
						  <div id="total_churning_bar" class="progress-bar bg-warning" role="progressbar" style="width: 10%" ></div>
					  </div>
				  </div>
			  </div>
			</div>
			<div class="col-3">
			  <div class="card border-left-success shadow mb-4">
				  <div class="card-body">
					  <div class="text-xs text-uppercase mb-1">Total Number of Users</div>
					  <div id="total_users" class="h5 font-weight-bold">?</div>
					  <div class="text-xs mb-1">This is the number of users that performed at least one action with Habiter in your community.</div>
				  </div>
			  </div>
			</div>
			<div class="col-3">
			</div>
		</div>

		<div class="row">
			<div class="col">
				<div class="card shadow">
					<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
					  <h6 class="m-0 font-weight-bold text-primary">Total Unique Users in time</h6>
					</div>
					<div class="card-body">
					  <div class="chart-area"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
						<canvas id="usersChart" style="display: block; height: 320px; width: 889px;" width="1778" height="640" class="chartjs-render-monitor"></canvas>
					  </div>
					</div>
				</div>
			</div>
		</div>

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Users Activity</h6>
			  <p>Here you can investigate activity broke down by single user.
			  <ul>
				  <li><b>session_active_total</b>: total number of sessions attended (at least 1 screenshot sent)</li>
				  <li><b>session_skip_total</b>: total number of sessions skipped (didn't send screenshot)</li>
				  <li><b>session_skip_streak</b>: how many session happened since last participation of the user</li>
				  <li><b>days_active_total</b>: total number of days when user sent at least 1 message (-1 is Not Available)</li>
				  <li><b>days_since_join</b>: how many days ago the user joined a team</li>
			  </ul>
			  Also, when a user is at churning the row becomes <b>yellow</b>. Churning := session_active_total > 1 and session_skip_streak > 1
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="usersDataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Username</th>
                      <th>session_active_total</th>
                      <th>session_skip_total</th>
                      <th>session_skip_streak</th>
                      <th>days_active_total</th>
                      <th>days_since_join</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>#</th>
                      <th>Username</th>
                      <th>session_active_total</th>
                      <th>session_skip_total</th>
                      <th>session_skip_streak</th>
                      <th>days_active_total</th>
                      <th>days_since_join</th>
                    </tr>
                  </tfoot>
                  <tbody>
					{% for user in users %}
					<tr>
						<td>{{ user.0 }}</td>
						<td>{{ user.1 }}</td>
						<td>{{ user.2 }}</td>
						<td>{{ user.3 }}</td>
						<td>{{ user.4 }}</td>
						<td>{{ user.5 }}</td>
						<td>{{ user.6 }}</td>
					</tr>
					{% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->


<!-- upload content model-->
<div class="modal fade" id="upload_content_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
	<div class="modal-dialog" role="document" style="max-width: 70%">
	<div class="modal-content">
	  <div class="modal-header">
		  <h5 class="modal-title" id="exampleModalLabel">{{ admin_title }} Community Content</h5>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		  <span aria-hidden="true">&times;</span>
		</button>
	  </div>
	  <div class="modal-body">
		<div class="row">
			<div class="col-sm">
				<h3>Create Team Manually</h3>
					<p>Add team checklist
					<ul>
						<li>put "https://habiter.app" if you want the team to enter the matching system</li>
						<li>session_time is set based on timezone as 21:00 GMT (e.g. 'est' put to 02:00)</li>
						<li>you need to run /next_session inside the chat, otherwise problems will not be sent</li>
					</p>
					<form action="community/teams" method="POST" >
						{% csrf_token %}
							<div class="input_wrapper">
								<label for="{{ team_form.team_name.id_for_label}}">Team Name:</label>
								{{team_form.team_name}}
							</div>
							<div class="input_wrapper">
								<label for="{{ team_form.team_invite.id_for_label}}">Team Invite:</label>
								{{team_form.team_invite}}
							</div>
							<div class="input_wrapper">
								<label for="{{ team_form.timezone.id_for_label}}">Timezone:</label>
								{{team_form.timezone}}
							</div>
							<div class="input_wrapper">
								<label for="{{ team_form.label.id_for_label}}">Label:</label>
								{{team_form.label}}
							</div>
						<input class="btn btn-primary" type="submit" value="Submit">
					</form>
			</div>
			<div class="col-sm border-left" >
				<h3>Create Teams Automatically</h3>
				<p>Create a team by hand, add Habiter bot and make it admin. Afterward just call /start_team. </p>
			</div>
		</div>
	  </div>
	</div>
	</div>
</div>
	<script>
	//
// CHURNING USERS
// Call the dataTables jQuery plugin
  // HIGHLIGHT FOR USERS
  const USER_COLUMN_MAPPING = {
			'#':0,
			'Username':1,
			'session_active_total':2,
			'session_skip_total':3,
			'session_skip_streak':4,
			'days_active_total':5,
			'days_since_join':6
  }
  let total_churning = 0;
  let total_users = 0;
  function is_user_churning(data){
	  return data[USER_COLUMN_MAPPING['session_active_total']] > 1 && data[USER_COLUMN_MAPPING['session_skip_streak']] >= 2;
  }
  $('#usersDataTable').DataTable({
	  "createdRow": function( row, data, dataIndex){
				total_users += 1;
			if( is_user_churning(data) ){
				$(row).addClass('bg-warning');
				total_churning += 1;
			}
		  //#ffd7d7
		}
  });
  $("#total_churning").html(total_churning);
  $("#total_users").html(total_users);
  $("#total_churning_bar").css('width',((total_churning/total_users)*100).toString()+"%")
	// make grey all inactive cells
	$('td').each(function() { //console.log($(this).text);
		if($( this ).text() == '-1'){
			$(this).addClass('bg-secondary')
		}
	});
	// also for every redraw
	$('#usersDataTable').on('draw.dt', function(){
		$('td').each(function() { //console.log($(this).text);
			if($( this ).text() == '-1'){
				$(this).addClass('bg-secondary')
			}
		});

	})
	</script>

	<script>
		/* CHART */
		console.log("usersChart");
console.log({{users_timeserie.values}});
var ctx = document.getElementById("usersChart");
var myLineChart = new Chart(ctx, {
  type: 'line',
  data: {
	  labels: {{users_timeserie.labels}},
    datasets: [
		{
		  label: "Unique Users",
		  lineTension: 0,
		  backgroundColor: "rgba(78, 115, 223, 0.1)",
		  borderColor: "rgba(78, 115, 223, 1)",
		  pointRadius: 3,
		  pointBackgroundColor: "rgba(78, 115, 223, 1)",
		  pointBorderColor: "rgba(78, 115, 223, 1)",
		  pointHoverRadius: 3,
		  pointHoverBackgroundColor: "rgba(78, 115, 223, 1)",
		  pointHoverBorderColor: "rgba(78, 115, 223, 1)",
		  pointHitRadius: 10,
		  pointBorderWidth: 2,
		  fill: true,
		  data: {{users_timeserie.values}}
		},
	],
  },
  options: {
    maintainAspectRatio: false,
    layout: {
      padding: {
        left: 10,
        right: 25,
        top: 25,
        bottom: 0
      }
    },
    scales: {
      xAxes: [{
        time: {
          unit: 'date'
        },
        gridLines: {
          display: false,
          drawBorder: false
        },
        ticks: {
          maxTicksLimit: 7
        }
      }],
      yAxes: [{
        ticks: {
	      beginAtZero: true,
          maxTicksLimit: 5,
          padding: 10,
          // Include a dollar sign in the ticks
          callback: function(value, index, values) {
            return number_format(value);
          }
        },
        gridLines: {
          color: "rgb(234, 236, 244)",
          zeroLineColor: "rgb(234, 236, 244)",
          drawBorder: false,
          borderDash: [2],
          zeroLineBorderDash: [2]
        }
      }],
    },
    legend: {
      display: false
    },
    tooltips: {
      backgroundColor: "rgb(255,255,255)",
      bodyFontColor: "#858796",
      titleMarginBottom: 10,
      titleFontColor: '#6e707e',
      titleFontSize: 14,
      borderColor: '#dddfeb',
      borderWidth: 1,
      xPadding: 15,
      yPadding: 15,
      displayColors: false,
      intersect: false,
      mode: 'index',
      caretPadding: 10,
      callbacks: {
        label: function(tooltipItem, chart) {
          var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || '';
          return datasetLabel+ ": " + number_format(tooltipItem.yLabel);
        }
      }
    }
  }
});

	</script>
{% endblock %}
